*{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    background: linear-gradient(90deg, aqua, yellow);
    
    }
    *{
        font-size: 16px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .item{
        background-color: #04aa6d;
        font-size: 24px;
        padding: 10px;
        margin: 2%;
        border: solid black;
    }
    .item:hover{
    background-color: yellow;
    }
    .container{
        background: linear-gradient(-90deg,#04aa6d, yellow);
        display: flex;
        flex-direction: column;
    }
    /*
    --styles for: navbar: pract1 google fonts---
    */
    h1 .concept{
        font-family: 'Times New Roman';
    }

   
    
    p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 17px;
        color: #000000;
    }
    body{
       background-color: aqua;
    }
    .topnav{
        background: linear-gradient(-90deg, aqua, yellow);
        overflow: hidden;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .logo{
        width: 15%;
        float: right;
    }
    .topnav a:hover{
        background-color: #04aa6d;
        color: #ddd;
    }
    .topnav a{
        float: left;
        color: #000000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .topnav a.active{
        background-color: #04aa6d;
        color: white;
    }
    .contact-info li a{
    text-decoration: none;
    }
    .ci-li{
        margin-left: 8%;
        font-size: 16px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    p{
        padding-left: 7%;
    }
    textarea{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    label{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 19px;
    }
    .container.form{
        padding: 0 0 2% 2%;
    }
    .foot-li{
        display: flex;
        justify-content: space-between;
    }
.nav-link.dropdown-toggle{

}
.nav-link.dropdown-toggle{

}
.nav-item.dropdown:hover{
   
}
.nav-item:hover{
    
 
}
a:hover{
    color: #ddd;
}
li a.nav-link:hover{
    background-color: #04aa6d;
    color: white;

}
.navbar-expand-lg.bg-light{
    background: linear-gradient(yellow, aqua);
}